/* Custom Dashboard Styles */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}


.dashboard {
    margin-top: 60px;
}

.card {
    border: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-title {
    font-weight: 600;
    color: #333;
}

.chart-container {
    position: relative;
    height: 300px;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.footer a {
    color: #bb6a00;
}

.footer a:hover {
    text-decoration: none;
    color: #fff;
}
